<footer class="footer">
  <div class="footer-container">
    <p class="footer__today-date">本日の日付:<%= Date.current.strftime('%Y/%m/%d') %></p>
    <p class="footer__plan-sum">予定合計<span class="footer__plan-sum--size"><%= Plan.count %></span>件</p>
  </div>
</footer>